@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Test Söhne";
  src: url("../public/fonts/TestSöhne-Buch.otf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../public/fonts/SpaceGrotesk-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body-background: #17191e;
  --body-color: 255, 255, 255;
  --header-background: #17191e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /* --body-background: #17191e; */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  /* color: rgb(var(--body-color)); */
  background: var(--body-background);
  font-family: 'Test Söhne', sans-serif;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.jumbotron-text {
  font-family: 'Test Söhne', sans-serif;
  font-size: 96px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-weight: 900;
}

.jumbotron-content-text{
  font-family: 'Test Söhne';
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-weight: 600;
}



.jumbotron-content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 24px;
  gap: 32px;
  background: rgba(20, 20, 20, 0.4);
  border: 1px solid #0F1011;
  box-shadow: 0px 0px 16px rgba(23, 23, 23, 0.05);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}


.jumbotron-content-section-main-text {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}





.gradient-text {
  font-family: 'Test Söhne';
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, #F39F72 0%, #F8858D 46.35%, #FF69AC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}





.interactive-advertisement-content-1 {
  background: rgba(20, 20, 20, 0.4);
  border: 1px solid #FFA5E6;
  box-shadow: 0px 0px 16px rgba(23, 23, 23, 0.05);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}


/* #example1 {
  background-image: url(img_flwr.gif), url(paper.gif);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
} */