@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Test Söhne";
  src: url("/fonts/TestSöhne-Buch.otf");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body-background: #17191e;
  --body-color: 255, 255, 255;
  --header-background: #17191e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, #17191e, #17191e, black);
  font-family: 'Test Söhne', sans-serif;

}