.jumbotron-text {
  font-family: "Test Söhne", sans-serif;
  font-size: 96px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: 900;
}

.jumbotron-content-text {
  font-family: "Test Söhne";
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.jumbotron-content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 32px 24px;
  gap: 32px;
  background: rgba(20, 20, 20, 0.4);
  border: 1px solid #0f1011;
  box-shadow: 0px 0px 16px rgba(23, 23, 23, 0.05);
  backdrop-filter: blur(16px);
  border-radius: 8px;
}

.jumbotron-content-section-main-text {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}
