.gradient-text {
    font-family: 'Test Söhne';
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.1em;
    background: linear-gradient(90deg, #F39F72 0%, #F8858D 46.35%, #FF69AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  