.gradient-text {
    font-family: 'Test Söhne';
    background: linear-gradient(90deg, #F39F72 0%, #F8858D 46.35%, #FF69AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  

.test {
    background-image: url('/images/section-2-bg-img.svg');
    background-size: contain;
    background-position: center 200%;
    background-repeat: no-repeat;
}
  