.card {
    border: 1px solid #0F1011;
    box-shadow: 0px 0px 16px rgba(23, 23, 23, 0.05);
    border-radius: 8px;
    min-height: 518px;
    height: 100%;
    position: relative;
    background: #1E1E1E !important;
    transition: all 0.5s;
}

.card::before {
    content: '';
    position: absolute;
    z-index: -10;
    min-height: inherit;
    height: 100%;
    width: 100%;
    background: var(--hoverColor);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #0F1011;
    box-shadow: 0px 0px 16px rgba(23, 23, 23, 0.05);
    backdrop-filter: blur(16px);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
}

.card:hover {
    background: #0F1011 !important;
    transition: all 0.5s;
}

.card:hover::before {
    opacity: 1;
    visibility: visible;
}