.arrow-link {
    transition: all 0.5s;
}

.arrow {
    animation: arrowMove 0.5s infinite;
}

.arrow-link:hover > .arrow {
    display: block;
    animation: arrowMove 0.5s;
}

@keyframes arrowMove {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(20px);
    }
    100% {
        transform: translate(0px);
    }
}